#contact-section {
  height: 100vh;
  width: 100%;
  background: #e1ebf5;
  color: grey;
  opacity: 0;
  /* display: flex; */
}

.contact-lists {
  display: flex;
  justify-content: space-around;
}
.leftside-contct,
.rightside-contct {
  /* display: flex; */
  height: auto;
  width: 50%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.leftside-contct input::placeholder {
  color: grey;
}
.leftside-contct {
  padding-left: 5%;
  padding-top: 5%;
}

.leftside-contct input {
  padding: 10px;
  margin: 15px;
  background: transparent;
  border: none;
  border-bottom: 2px solid darkgrey;
  outline: none;
  width: 60%;
  color: grey;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  border-radius: 50px;
  padding: 21px;
  background: linear-gradient(145deg, #cbd4dd, #f1fbff);
  box-shadow: 5px 5px 10px #99a0a7, -5px -5px 10px #ffffff;
}

.rightside-contct textarea::placeholder {
  color: grey;
}
.rightside-contct textarea {
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  /* border: 2px solid darkgrey; */
  outline: none;
  width: 70%;
  height: 40vh;
  color: grey;
  font-size: 1.5rem;
  background: #e1ebf5;
  box-shadow: inset 5px 5px 10px #99a0a7, inset -5px -5px 10px #ffffff;
  border-radius: 30px;
  padding: 30px;
  box-sizing: border-box;
}
.send-mail-button:active {
  border-radius: 50px;
  background: linear-gradient(145deg, #cbd4dd, #f1fbff);
  box-shadow: 7px 7px 14px #99a0a7, -7px -7px 14px #ffffff;
}
.send-mail-button:hover {
  border-radius: 50px;
  background: linear-gradient(145deg, #cbd4dd, #f1fbff);
  box-shadow: 7px 7px 14px #99a0a7, -7px -7px 14px #ffffff;
}
.send-mail-button {
  background-color: transparent;
  outline: none;
  letter-spacing: 3px;
  /* padding: 10px; */
  /* font-weight: bold; */
  width: 20%;
  font-size: 2rem;
  margin: 40px;
  color: grey;
  border: none;
  border-radius: 50px;
  background: linear-gradient(145deg, #f1fbff, #cbd4dd);
  box-shadow: 7px 7px 14px #99a0a7, -7px -7px 14px #ffffff;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}
