.firstlanding-page {
  height: 150vh;
  width: 100%;
  overflow: hidden;
  /* position: relative; */
  background: pink;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 200vh;
}
.freelancer-text {
  width: 100%;
  /* background-color: red; */
  left: 0;
  top: 10%;
  position: absolute;
  text-align: center;
}
.firstlanding-page h1 {
  -webkit-text-stroke: 3px grey;
  color: transparent;
  font-size: 5rem;
  -webkit-text-stroke-width: thin;
  /* font: message-box; */
}
.ImageDome {
  position: fixed;
  z-index: 50;
  bottom: 0;
  height: 5vw;
  width: 7vw;
  font-size: 1.75%;
  background: linear-gradient(
      135deg,
      #708090 21px,
      #d9ecff 22px,
      #d9ecff 24px,
      transparent 24px,
      transparent 67px,
      #d9ecff 67px,
      #d9ecff 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        #708090 21px,
        #d9ecff 22px,
        #d9ecff 24px,
        transparent 24px,
        transparent 67px,
        #d9ecff 67px,
        #d9ecff 69px,
        transparent 69px
      )
      0 64px;
  background-color: #708090;
  background-size: 64px 128px;
  /* position: relative; */
  /* border: 3px solid saddlebrown; */
  border-radius: 50% 50% 0% 0%;
  overflow: hidden;
  box-shadow: 1px 2px 10px #939393, 1px 2px 15px black;
}
.dome-brick-layer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.dome-brick-layer p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 10px;
  border: 1px solid rgb(255 245 0);
  /* font-size: 70%; */
  margin: 0;
  box-shadow: inset 0px 0px 2px #fff;
}
.dome-door {
  /* height: 44%;
    width: 26%;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 37%; */
  /* background: #000 !important; */
  background: radial-gradient(
        hsl(0, 100%, 27%) 4%,
        hsl(0, 100%, 18%) 9%,
        hsla(0, 100%, 20%, 0) 9%
      )
      0 0,
    radial-gradient(
        hsl(0, 100%, 27%) 4%,
        hsl(0, 100%, 18%) 8%,
        hsla(0, 100%, 20%, 0) 10%
      )
      50px 50px,
    radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
    radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
    radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
    radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px
      50px,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
    linear-gradient(
        45deg,
        hsla(0, 100%, 20%, 0) 49%,
        hsla(0, 100%, 0%, 1) 50%,
        hsla(0, 100%, 20%, 0) 70%
      )
      0 0,
    linear-gradient(
        -45deg,
        hsla(0, 100%, 20%, 0) 49%,
        hsla(0, 100%, 0%, 1) 50%,
        hsla(0, 100%, 20%, 0) 70%
      )
      0 0;
  background-color: #300;
  background-size: 100px 100px;
  height: 50%;
  width: 20%;
  position: absolute;
  bottom: 0;
  left: 40%;
  border-top: 6px solid #4c4c4c;
  border-left: 6px solid #959595;
  border-right: px solid #959595;
  box-shadow: 0px 0px 5px red;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 12px #7b7b7b, -5px -5px 12px #dbdbdb;
  overflow: hidden;
}
.dome-door img {
  margin-top: 110%;
  /* margin-left: 20%; */
  opacity: 0;
  width: 100%;
}
.standing-yakraj {
  /* width: 100%; */
  height: 41%;
  /* background: red; */
  position: absolute;
  left: 53%;
  bottom: 0;
}

.yakraj-intro-youtube {
  height: 9%;
  width: 5.5%;
  background: url("https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/118596058/original/241cc44f7ea8e1b043df8e735c8fdea0975bcb1d/design-catchy-youtube-thumbnail.jpg");
  background-size: cover;
  position: absolute;
  left: 54%;
  bottom: 24%;
  border-radius: 29px;
  box-shadow: 1px 1px 5px black, 1px 1px 10px black, inset 1px 1px 5px #fff,
    inset 1px 1px 10px #fff;
  cursor: pointer;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* dummy is here */
