.firstlanding-page {
  height: 150vh;
  width: 100%;
  overflow: hidden;
  /* position: relative; */
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 200vh;
}
.freelancer-text {
  width: 100%;
  /* background-color: red; */
  left: 0;
  top: 10%;
  position: absolute;
  text-align: center;
}
.firstlanding-page h1 {
  -webkit-text-stroke: 3px grey;
  color: transparent;
  font-size: 5rem;
  -webkit-text-stroke-width: thin;
  /* font: message-box; */
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgb(0 0 0 / 24%));
}

@media screen and (max-width: 800px) {
  .ImageDome {
    display: none;
  }
  .firstlanding-page {
    height: 100vh;
    padding-bottom: 0;
  }
  .freelancer-text {
    font-size: 2rem !important;
  }
}
.ImageDome {
  position: fixed;
  z-index: 50;
  bottom: 0;
  height: 5vw;
  width: 7vw;
  font-size: 1.75%;
  background: linear-gradient(
      135deg,
      #708090 21px,
      #d9ecff 22px,
      #d9ecff 24px,
      transparent 24px,
      transparent 67px,
      #d9ecff 67px,
      #d9ecff 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        #708090 21px,
        #d9ecff 22px,
        #d9ecff 24px,
        transparent 24px,
        transparent 67px,
        #d9ecff 67px,
        #d9ecff 69px,
        transparent 69px
      )
      0 64px;
  background-color: #708090;
  background-size: 64px 128px;
  /* position: relative; */
  /* border: 3px solid saddlebrown; */
  border-radius: 50% 50% 0% 0%;
  overflow: hidden;
  box-shadow: 1px 2px 10px #939393, 1px 2px 15px black;
}
.dome-brick-layer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.dome-brick-layer p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 10px;
  border: 1px solid rgb(255 245 0);
  /* font-size: 70%; */
  margin: 0;
  box-shadow: inset 0px 0px 2px #fff;
}
.dome-door {
  /* height: 44%;
    width: 26%;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 37%; */
  /* background: #000 !important; */
  background: radial-gradient(
        hsl(0, 100%, 27%) 4%,
        hsl(0, 100%, 18%) 9%,
        hsla(0, 100%, 20%, 0) 9%
      )
      0 0,
    radial-gradient(
        hsl(0, 100%, 27%) 4%,
        hsl(0, 100%, 18%) 8%,
        hsla(0, 100%, 20%, 0) 10%
      )
      50px 50px,
    radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
    radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
    radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
    radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px
      50px,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
    linear-gradient(
        45deg,
        hsla(0, 100%, 20%, 0) 49%,
        hsla(0, 100%, 0%, 1) 50%,
        hsla(0, 100%, 20%, 0) 70%
      )
      0 0,
    linear-gradient(
        -45deg,
        hsla(0, 100%, 20%, 0) 49%,
        hsla(0, 100%, 0%, 1) 50%,
        hsla(0, 100%, 20%, 0) 70%
      )
      0 0;
  background-color: #300;
  background-size: 100px 100px;
  height: 50%;
  width: 20%;
  position: absolute;
  bottom: 0;
  left: 40%;
  border-top: 6px solid #4c4c4c;
  border-left: 6px solid #959595;
  border-right: px solid #959595;
  box-shadow: 0px 0px 5px red;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 12px #7b7b7b, -5px -5px 12px #dbdbdb;
  overflow: hidden;
}
.dome-door img {
  margin-top: 110%;
  /* margin-left: 20%; */
  opacity: 0;
  width: 100%;
}
.standing-yakraj {
  width: auto;
  height: 41%;
  /* background: red; */
  position: absolute;
  left: 53%;
  bottom: 0;
}

.yakraj-intro-youtube {
  height: 9%;
  width: 5.5%;
  background: url("../assets/my-portfolio.webp");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #db7a0b;
  left: 54%;
  bottom: 24%;
  border-radius: 29px;
  box-shadow: 1px 1px 5px black, 1px 1px 10px black, inset 1px 1px 5px #fff,
    inset 1px 1px 10px #fff;
  cursor: pointer;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yakraj-intro-youtube img {
  width: 20%;
  transition-duration: 0.2s;
}
.yakraj-intro-youtube:hover img {
  width: 25%;
  opacity: 0.7;
}

/* this is for playlable fonts */
/* .first-landing-absolute {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
} */

.first-landing-absolute {
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 570px 1136px #fff, 751px 524px #fff, 1163px 517px #fff,
    769px 1966px #fff, 901px 1608px #fff, 630px 1388px #fff, 217px 1772px #fff,
    1666px 1046px #fff, 1388px 690px #fff, 1363px 1928px #fff, 1101px 477px #fff,
    950px 994px #fff, 933px 160px #fff, 1042px 1566px #fff, 788px 1138px #fff,
    1952px 1353px #fff, 1158px 1036px #fff, 226px 1718px #fff,
    1540px 1828px #fff, 1732px 936px #fff, 461px 1626px #fff, 45px 223px #fff,
    1773px 1496px #fff, 1790px 1710px #fff, 934px 1840px #fff, 550px 202px #fff,
    1791px 1470px #fff, 747px 1381px #fff, 45px 629px #fff, 831px 357px #fff,
    1772px 1542px #fff, 1793px 711px #fff, 1855px 1025px #fff, 647px 1250px #fff,
    1145px 501px #fff, 667px 441px #fff, 1490px 657px #fff, 475px 238px #fff,
    222px 1059px #fff, 1345px 835px #fff, 942px 1354px #fff, 1823px 885px #fff,
    997px 1816px #fff, 1981px 653px #fff, 242px 1614px #fff, 1103px 1782px #fff,
    1543px 610px #fff, 1408px 778px #fff, 1178px 1549px #fff, 445px 629px #fff,
    1378px 1497px #fff, 987px 1447px #fff, 895px 1729px #fff, 1912px 1589px #fff,
    864px 1859px #fff, 203px 730px #fff, 1815px 736px #fff, 1585px 1996px #fff,
    598px 1955px #fff, 1660px 28px #fff, 1598px 1568px #fff, 1107px 989px #fff,
    160px 903px #fff, 265px 490px #fff, 762px 1733px #fff, 1740px 714px #fff,
    856px 1544px #fff, 1618px 1541px #fff, 1307px 1549px #fff,
    1772px 1512px #fff, 825px 1828px #fff, 1948px 618px #fff, 630px 978px #fff,
    1478px 630px #fff, 1826px 704px #fff, 640px 1952px #fff, 1861px 296px #fff,
    1306px 146px #fff, 1414px 1360px #fff, 1538px 1571px #fff, 496px 1314px #fff,
    1829px 241px #fff, 30px 384px #fff, 68px 1951px #fff, 744px 1933px #fff,
    1727px 1126px #fff, 1172px 1629px #fff, 1544px 1022px #fff, 10px 1917px #fff,
    1896px 1203px #fff, 1161px 1044px #fff, 398px 160px #fff, 390px 1652px #fff,
    313px 1073px #fff, 1311px 458px #fff, 1621px 1771px #fff, 614px 1787px #fff,
    171px 1888px #fff, 1948px 443px #fff, 1427px 779px #fff, 1400px 512px #fff,
    615px 460px #fff, 1363px 1639px #fff, 257px 327px #fff, 1243px 1129px #fff,
    854px 627px #fff, 223px 1397px #fff, 1312px 577px #fff, 1212px 467px #fff,
    76px 1808px #fff, 498px 39px #fff, 1631px 999px #fff, 113px 290px #fff,
    1940px 1546px #fff, 1779px 712px #fff, 175px 961px #fff, 131px 540px #fff,
    624px 987px #fff, 816px 1069px #fff, 1112px 1440px #fff, 1262px 1518px #fff,
    856px 578px #fff, 516px 967px #fff, 373px 418px #fff, 657px 411px #fff,
    553px 104px #fff, 287px 441px #fff, 562px 515px #fff, 94px 199px #fff,
    1496px 1233px #fff, 1417px 1963px #fff, 1388px 848px #fff, 1562px 381px #fff,
    1709px 192px #fff, 318px 769px #fff, 1214px 119px #fff, 1139px 1301px #fff,
    1917px 1565px #fff, 26px 825px #fff, 1360px 1267px #fff, 589px 1505px #fff,
    1388px 1833px #fff, 852px 327px #fff, 1708px 1192px #fff, 885px 184px #fff,
    1951px 521px #fff, 121px 249px #fff, 1143px 817px #fff, 1134px 672px #fff,
    606px 525px #fff, 749px 159px #fff, 1541px 464px #fff, 1471px 808px #fff,
    1897px 1765px #fff, 127px 1264px #fff, 32px 1060px #fff, 419px 1564px #fff,
    1157px 1276px #fff, 1793px 1872px #fff, 1915px 1668px #fff,
    1614px 534px #fff, 872px 78px #fff, 1781px 140px #fff, 1914px 1970px #fff,
    1957px 650px #fff, 1908px 1740px #fff, 457px 364px #fff, 1770px 383px #fff,
    131px 652px #fff, 699px 1638px #fff, 1005px 176px #fff, 667px 1774px #fff,
    1527px 1718px #fff, 404px 1465px #fff, 1039px 1004px #fff, 1623px 431px #fff,
    1318px 1623px #fff, 1209px 880px #fff, 773px 547px #fff, 325px 1686px #fff,
    916px 1328px #fff, 1163px 1734px #fff, 96px 405px #fff, 1912px 1600px #fff,
    621px 1180px #fff, 187px 1596px #fff, 179px 436px #fff, 1835px 1925px #fff,
    614px 1485px #fff, 1698px 367px #fff, 1968px 1790px #fff, 1269px 750px #fff,
    1781px 289px #fff, 5px 1798px #fff, 115px 1490px #fff, 1236px 1351px #fff,
    361px 144px #fff, 1636px 866px #fff, 1192px 1429px #fff, 277px 1080px #fff,
    1114px 1718px #fff, 1092px 1761px #fff, 542px 1834px #fff, 1007px 895px #fff,
    738px 1641px #fff, 1981px 513px #fff, 1874px 1184px #fff, 1646px 184px #fff,
    1745px 1305px #fff, 26px 303px #fff, 1344px 1077px #fff, 1902px 1534px #fff,
    1427px 1713px #fff, 576px 1463px #fff, 468px 468px #fff, 1840px 1577px #fff,
    1012px 778px #fff, 1191px 10px #fff, 277px 974px #fff, 175px 259px #fff,
    895px 487px #fff, 1357px 562px #fff, 1527px 770px #fff, 127px 1724px #fff,
    945px 584px #fff, 1836px 947px #fff, 245px 382px #fff, 554px 1117px #fff,
    655px 1261px #fff, 1922px 821px #fff, 609px 1538px #fff, 1795px 1615px #fff,
    1360px 1393px #fff, 1135px 1785px #fff, 332px 151px #fff, 479px 1415px #fff,
    118px 119px #fff, 1952px 1300px #fff, 1377px 212px #fff, 60px 257px #fff,
    295px 1058px #fff, 565px 823px #fff, 575px 29px #fff, 1151px 1644px #fff,
    65px 277px #fff, 1311px 1967px #fff, 547px 734px #fff, 1877px 1584px #fff,
    1885px 1798px #fff, 1507px 1431px #fff, 875px 995px #fff, 1079px 832px #fff,
    1278px 1094px #fff, 1125px 427px #fff, 733px 1976px #fff, 1034px 1240px #fff,
    1127px 486px #fff, 1652px 610px #fff, 682px 1480px #fff, 1890px 297px #fff,
    649px 1521px #fff, 1137px 1522px #fff, 588px 721px #fff, 81px 1908px #fff,
    1336px 663px #fff, 1780px 1131px #fff, 1588px 1844px #fff, 712px 1455px #fff,
    1951px 1507px #fff, 1905px 151px #fff, 1532px 821px #fff, 1686px 916px #fff,
    1937px 1455px #fff, 1666px 117px #fff, 622px 1976px #fff, 467px 1786px #fff,
    842px 314px #fff, 1162px 555px #fff, 1527px 1046px #fff, 184px 1531px #fff,
    530px 682px #fff, 1001px 1864px #fff, 1803px 1345px #fff, 1509px 1454px #fff,
    1836px 1367px #fff, 294px 796px #fff, 1088px 1720px #fff, 700px 1136px #fff,
    1041px 1118px #fff, 165px 1446px #fff, 1678px 641px #fff, 1413px 926px #fff,
    1354px 730px #fff, 1854px 1795px #fff, 1347px 349px #fff, 1918px 324px #fff,
    1981px 1091px #fff, 1770px 1966px #fff, 489px 1984px #fff,
    1012px 1740px #fff, 1400px 1069px #fff, 1877px 257px #fff, 1006px 603px #fff,
    1339px 696px #fff, 1714px 306px #fff, 1959px 884px #fff, 1967px 1502px #fff,
    1223px 245px #fff, 683px 161px #fff, 1738px 1468px #fff, 1832px 228px #fff,
    1419px 233px #fff, 1066px 76px #fff, 1398px 1313px #fff, 1708px 729px #fff,
    889px 1285px #fff, 1840px 1610px #fff, 152px 1508px #fff, 26px 887px #fff,
    570px 1941px #fff, 673px 755px #fff, 414px 459px #fff, 1203px 130px #fff,
    1743px 534px #fff, 1195px 886px #fff, 1708px 806px #fff, 1132px 548px #fff,
    1112px 1922px #fff, 1100px 1176px #fff, 773px 551px #fff, 828px 1979px #fff,
    762px 26px #fff, 708px 487px #fff, 1887px 1158px #fff, 492px 1635px #fff,
    732px 1052px #fff, 1130px 771px #fff, 33px 1939px #fff, 1161px 806px #fff,
    1537px 981px #fff, 1556px 1295px #fff, 1805px 1037px #fff, 1565px 48px #fff,
    1224px 1432px #fff, 1273px 1386px #fff, 616px 1595px #fff, 1810px 602px #fff,
    256px 629px #fff, 636px 998px #fff, 389px 622px #fff, 1228px 1915px #fff,
    1145px 432px #fff, 1931px 1969px #fff, 725px 1114px #fff, 1099px 998px #fff,
    148px 492px #fff, 502px 1731px #fff, 485px 1351px #fff, 1379px 437px #fff,
    463px 163px #fff, 1362px 621px #fff, 448px 1852px #fff, 1104px 408px #fff,
    1811px 448px #fff, 162px 1822px #fff, 68px 385px #fff, 1527px 726px #fff,
    1061px 1071px #fff, 856px 1325px #fff, 675px 345px #fff, 287px 1255px #fff,
    1077px 629px #fff, 596px 1756px #fff, 816px 1056px #fff, 1257px 654px #fff,
    1985px 95px #fff, 544px 991px #fff, 114px 1368px #fff, 1195px 741px #fff,
    1300px 1562px #fff, 198px 350px #fff, 521px 142px #fff, 1938px 955px #fff,
    1885px 325px #fff, 581px 281px #fff, 524px 1520px #fff, 14px 1537px #fff,
    1539px 576px #fff, 1646px 464px #fff, 580px 1680px #fff, 947px 558px #fff,
    1793px 246px #fff, 1708px 719px #fff, 104px 634px #fff, 1103px 1172px #fff,
    1593px 1098px #fff, 123px 192px #fff, 1449px 797px #fff, 1864px 838px #fff,
    1831px 1874px #fff, 1406px 1083px #fff, 1617px 1385px #fff,
    1547px 1834px #fff, 1039px 1062px #fff, 182px 1798px #fff, 214px 596px #fff,
    348px 1459px #fff, 1425px 846px #fff, 1177px 643px #fff, 893px 1554px #fff,
    1736px 1693px #fff, 453px 1284px #fff, 634px 1491px #fff, 1996px 145px #fff,
    1819px 746px #fff, 1063px 867px #fff, 1623px 1165px #fff, 816px 370px #fff,
    1909px 609px #fff, 908px 233px #fff, 1264px 1105px #fff, 1754px 1565px #fff,
    1810px 2px #fff, 1213px 474px #fff, 142px 235px #fff, 331px 59px #fff,
    777px 1666px #fff, 1676px 1723px #fff, 1968px 1966px #fff, 378px 651px #fff,
    126px 1147px #fff, 619px 1105px #fff, 232px 1279px #fff, 1351px 1849px #fff,
    807px 1406px #fff, 543px 457px #fff, 1038px 777px #fff, 264px 479px #fff,
    435px 169px #fff, 564px 188px #fff, 1353px 245px #fff, 1547px 1447px #fff,
    916px 726px #fff, 671px 156px #fff, 1215px 1330px #fff, 452px 21px #fff,
    1482px 29px #fff, 482px 847px #fff, 1051px 1891px #fff, 2px 1688px #fff,
    1661px 244px #fff, 1286px 1133px #fff, 567px 1911px #fff, 445px 35px #fff,
    1524px 1972px #fff, 647px 109px #fff, 520px 1423px #fff, 856px 253px #fff,
    1058px 1426px #fff, 652px 692px #fff, 918px 1248px #fff, 879px 44px #fff,
    1138px 385px #fff, 41px 1678px #fff, 185px 1145px #fff, 1489px 564px #fff,
    1513px 836px #fff, 1154px 1319px #fff, 1389px 1778px #fff, 1036px 571px #fff,
    1488px 753px #fff, 597px 449px #fff, 1645px 32px #fff, 59px 292px #fff,
    173px 445px #fff, 1373px 874px #fff, 1850px 1045px #fff, 1746px 1922px #fff,
    1612px 1610px #fff, 888px 1812px #fff, 1896px 1735px #fff, 847px 686px #fff,
    737px 1907px #fff, 1776px 1997px #fff, 1175px 1864px #fff, 554px 902px #fff,
    1501px 387px #fff, 808px 793px #fff, 518px 370px #fff, 473px 1419px #fff,
    1562px 1056px #fff, 609px 25px #fff, 1443px 6px #fff, 1867px 320px #fff,
    1581px 1737px #fff, 1986px 144px #fff, 1387px 1231px #fff, 248px 1564px #fff,
    1746px 1988px #fff, 380px 1953px #fff, 1821px 630px #fff, 996px 844px #fff,
    1078px 372px #fff, 522px 1462px #fff, 1929px 1992px #fff, 601px 119px #fff,
    1519px 1138px #fff, 528px 945px #fff, 690px 1712px #fff, 898px 59px #fff,
    437px 681px #fff, 1743px 1444px #fff, 1376px 324px #fff, 414px 1817px #fff,
    1213px 1663px #fff, 999px 871px #fff, 515px 442px #fff, 1838px 1223px #fff,
    910px 1317px #fff, 1372px 1094px #fff, 1612px 893px #fff, 1999px 959px #fff,
    839px 584px #fff, 408px 487px #fff, 1221px 1253px #fff, 1869px 1697px #fff,
    181px 1672px #fff, 1534px 22px #fff, 1147px 1909px #fff, 787px 1823px #fff,
    1104px 1515px #fff, 1925px 1249px #fff, 1770px 1414px #fff,
    1941px 200px #fff, 1337px 421px #fff, 1907px 1943px #fff, 147px 1695px #fff,
    1258px 25px #fff, 527px 799px #fff, 1013px 1719px #fff, 1107px 1700px #fff,
    851px 953px #fff, 877px 1632px #fff, 1171px 1087px #fff, 1065px 1769px #fff,
    822px 1900px #fff, 1597px 874px #fff, 1358px 1666px #fff, 1311px 857px #fff,
    1606px 330px #fff, 1813px 1603px #fff, 125px 117px #fff, 536px 1657px #fff,
    1385px 104px #fff, 786px 1957px #fff, 970px 1002px #fff, 1240px 1427px #fff,
    64px 812px #fff, 1952px 991px #fff, 111px 637px #fff, 612px 321px #fff,
    1296px 1420px #fff, 1635px 1480px #fff, 1125px 856px #fff, 30px 1333px #fff,
    376px 465px #fff, 1668px 759px #fff, 1565px 670px #fff, 465px 824px #fff,
    1587px 392px #fff, 577px 156px #fff, 581px 685px #fff, 143px 1771px #fff,
    285px 1631px #fff, 1224px 989px #fff, 1924px 155px #fff, 400px 1944px #fff,
    85px 1474px #fff, 1849px 152px #fff, 1166px 1233px #fff, 1752px 1400px #fff,
    1256px 1524px #fff, 1235px 748px #fff, 1002px 1240px #fff, 320px 1951px #fff,
    289px 1081px #fff, 373px 814px #fff, 1676px 1653px #fff, 925px 74px #fff,
    293px 743px #fff, 815px 1280px #fff, 989px 441px #fff, 187px 1951px #fff,
    1789px 1862px #fff, 355px 229px #fff, 1157px 1572px #fff, 813px 1172px #fff,
    1604px 1673px #fff, 1882px 565px #fff, 614px 690px #fff, 91px 1980px #fff,
    202px 1342px #fff, 442px 1520px #fff, 1761px 979px #fff, 997px 871px #fff,
    172px 1665px #fff, 1179px 1810px #fff, 844px 1921px #fff, 426px 1392px #fff,
    806px 1275px #fff, 1801px 1024px #fff, 1044px 119px #fff, 1647px 854px #fff,
    1738px 1077px #fff, 790px 893px #fff, 1669px 1652px #fff, 43px 527px #fff,
    1092px 641px #fff, 1233px 539px #fff, 603px 1796px #fff, 1303px 1623px #fff,
    603px 1241px #fff, 1183px 1945px #fff, 1534px 1259px #fff, 1239px 86px #fff,
    598px 334px #fff, 933px 1164px #fff, 1614px 1900px #fff, 1761px 671px #fff,
    1562px 12px #fff, 407px 1546px #fff, 761px 654px #fff, 425px 1258px #fff,
    1848px 1602px #fff, 1992px 347px #fff, 491px 847px #fff, 1772px 189px #fff,
    289px 1025px #fff, 1086px 1274px #fff, 574px 1774px #fff, 1364px 1941px #fff,
    1218px 9px #fff, 1362px 116px #fff, 1744px 1826px #fff, 1687px 540px #fff,
    434px 842px #fff, 1369px 362px #fff, 273px 1873px #fff, 649px 1359px #fff,
    713px 1438px #fff, 1518px 1300px #fff, 1403px 751px #fff, 204px 972px #fff,
    1437px 1140px #fff, 193px 407px #fff, 1869px 1045px #fff, 697px 1897px #fff,
    1994px 1244px #fff, 631px 1916px #fff, 957px 1345px #fff, 975px 1480px #fff,
    394px 1337px #fff, 570px 1512px #fff, 906px 1609px #fff, 644px 797px #fff,
    535px 1526px #fff, 1836px 1191px #fff, 208px 1537px #fff, 626px 129px #fff,
    638px 1764px #fff, 278px 667px #fff, 758px 830px #fff, 1681px 1495px #fff,
    1405px 547px #fff, 1126px 1917px #fff, 1933px 1604px #fff,
    1468px 1466px #fff, 755px 537px #fff, 1970px 666px #fff, 1345px 1504px #fff,
    643px 1244px #fff, 352px 369px #fff, 1657px 869px #fff, 1282px 1716px #fff,
    1921px 589px #fff, 878px 417px #fff, 1744px 1892px #fff, 1611px 1008px #fff,
    1727px 1790px #fff, 1900px 1913px #fff, 1251px 1674px #fff, 182px 782px #fff,
    197px 366px #fff, 935px 490px #fff, 1147px 1907px #fff, 1395px 611px #fff,
    496px 1152px #fff, 807px 1321px #fff, 1922px 680px #fff, 908px 1078px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 570px 1136px #fff, 751px 524px #fff, 1163px 517px #fff,
    769px 1966px #fff, 901px 1608px #fff, 630px 1388px #fff, 217px 1772px #fff,
    1666px 1046px #fff, 1388px 690px #fff, 1363px 1928px #fff, 1101px 477px #fff,
    950px 994px #fff, 933px 160px #fff, 1042px 1566px #fff, 788px 1138px #fff,
    1952px 1353px #fff, 1158px 1036px #fff, 226px 1718px #fff,
    1540px 1828px #fff, 1732px 936px #fff, 461px 1626px #fff, 45px 223px #fff,
    1773px 1496px #fff, 1790px 1710px #fff, 934px 1840px #fff, 550px 202px #fff,
    1791px 1470px #fff, 747px 1381px #fff, 45px 629px #fff, 831px 357px #fff,
    1772px 1542px #fff, 1793px 711px #fff, 1855px 1025px #fff, 647px 1250px #fff,
    1145px 501px #fff, 667px 441px #fff, 1490px 657px #fff, 475px 238px #fff,
    222px 1059px #fff, 1345px 835px #fff, 942px 1354px #fff, 1823px 885px #fff,
    997px 1816px #fff, 1981px 653px #fff, 242px 1614px #fff, 1103px 1782px #fff,
    1543px 610px #fff, 1408px 778px #fff, 1178px 1549px #fff, 445px 629px #fff,
    1378px 1497px #fff, 987px 1447px #fff, 895px 1729px #fff, 1912px 1589px #fff,
    864px 1859px #fff, 203px 730px #fff, 1815px 736px #fff, 1585px 1996px #fff,
    598px 1955px #fff, 1660px 28px #fff, 1598px 1568px #fff, 1107px 989px #fff,
    160px 903px #fff, 265px 490px #fff, 762px 1733px #fff, 1740px 714px #fff,
    856px 1544px #fff, 1618px 1541px #fff, 1307px 1549px #fff,
    1772px 1512px #fff, 825px 1828px #fff, 1948px 618px #fff, 630px 978px #fff,
    1478px 630px #fff, 1826px 704px #fff, 640px 1952px #fff, 1861px 296px #fff,
    1306px 146px #fff, 1414px 1360px #fff, 1538px 1571px #fff, 496px 1314px #fff,
    1829px 241px #fff, 30px 384px #fff, 68px 1951px #fff, 744px 1933px #fff,
    1727px 1126px #fff, 1172px 1629px #fff, 1544px 1022px #fff, 10px 1917px #fff,
    1896px 1203px #fff, 1161px 1044px #fff, 398px 160px #fff, 390px 1652px #fff,
    313px 1073px #fff, 1311px 458px #fff, 1621px 1771px #fff, 614px 1787px #fff,
    171px 1888px #fff, 1948px 443px #fff, 1427px 779px #fff, 1400px 512px #fff,
    615px 460px #fff, 1363px 1639px #fff, 257px 327px #fff, 1243px 1129px #fff,
    854px 627px #fff, 223px 1397px #fff, 1312px 577px #fff, 1212px 467px #fff,
    76px 1808px #fff, 498px 39px #fff, 1631px 999px #fff, 113px 290px #fff,
    1940px 1546px #fff, 1779px 712px #fff, 175px 961px #fff, 131px 540px #fff,
    624px 987px #fff, 816px 1069px #fff, 1112px 1440px #fff, 1262px 1518px #fff,
    856px 578px #fff, 516px 967px #fff, 373px 418px #fff, 657px 411px #fff,
    553px 104px #fff, 287px 441px #fff, 562px 515px #fff, 94px 199px #fff,
    1496px 1233px #fff, 1417px 1963px #fff, 1388px 848px #fff, 1562px 381px #fff,
    1709px 192px #fff, 318px 769px #fff, 1214px 119px #fff, 1139px 1301px #fff,
    1917px 1565px #fff, 26px 825px #fff, 1360px 1267px #fff, 589px 1505px #fff,
    1388px 1833px #fff, 852px 327px #fff, 1708px 1192px #fff, 885px 184px #fff,
    1951px 521px #fff, 121px 249px #fff, 1143px 817px #fff, 1134px 672px #fff,
    606px 525px #fff, 749px 159px #fff, 1541px 464px #fff, 1471px 808px #fff,
    1897px 1765px #fff, 127px 1264px #fff, 32px 1060px #fff, 419px 1564px #fff,
    1157px 1276px #fff, 1793px 1872px #fff, 1915px 1668px #fff,
    1614px 534px #fff, 872px 78px #fff, 1781px 140px #fff, 1914px 1970px #fff,
    1957px 650px #fff, 1908px 1740px #fff, 457px 364px #fff, 1770px 383px #fff,
    131px 652px #fff, 699px 1638px #fff, 1005px 176px #fff, 667px 1774px #fff,
    1527px 1718px #fff, 404px 1465px #fff, 1039px 1004px #fff, 1623px 431px #fff,
    1318px 1623px #fff, 1209px 880px #fff, 773px 547px #fff, 325px 1686px #fff,
    916px 1328px #fff, 1163px 1734px #fff, 96px 405px #fff, 1912px 1600px #fff,
    621px 1180px #fff, 187px 1596px #fff, 179px 436px #fff, 1835px 1925px #fff,
    614px 1485px #fff, 1698px 367px #fff, 1968px 1790px #fff, 1269px 750px #fff,
    1781px 289px #fff, 5px 1798px #fff, 115px 1490px #fff, 1236px 1351px #fff,
    361px 144px #fff, 1636px 866px #fff, 1192px 1429px #fff, 277px 1080px #fff,
    1114px 1718px #fff, 1092px 1761px #fff, 542px 1834px #fff, 1007px 895px #fff,
    738px 1641px #fff, 1981px 513px #fff, 1874px 1184px #fff, 1646px 184px #fff,
    1745px 1305px #fff, 26px 303px #fff, 1344px 1077px #fff, 1902px 1534px #fff,
    1427px 1713px #fff, 576px 1463px #fff, 468px 468px #fff, 1840px 1577px #fff,
    1012px 778px #fff, 1191px 10px #fff, 277px 974px #fff, 175px 259px #fff,
    895px 487px #fff, 1357px 562px #fff, 1527px 770px #fff, 127px 1724px #fff,
    945px 584px #fff, 1836px 947px #fff, 245px 382px #fff, 554px 1117px #fff,
    655px 1261px #fff, 1922px 821px #fff, 609px 1538px #fff, 1795px 1615px #fff,
    1360px 1393px #fff, 1135px 1785px #fff, 332px 151px #fff, 479px 1415px #fff,
    118px 119px #fff, 1952px 1300px #fff, 1377px 212px #fff, 60px 257px #fff,
    295px 1058px #fff, 565px 823px #fff, 575px 29px #fff, 1151px 1644px #fff,
    65px 277px #fff, 1311px 1967px #fff, 547px 734px #fff, 1877px 1584px #fff,
    1885px 1798px #fff, 1507px 1431px #fff, 875px 995px #fff, 1079px 832px #fff,
    1278px 1094px #fff, 1125px 427px #fff, 733px 1976px #fff, 1034px 1240px #fff,
    1127px 486px #fff, 1652px 610px #fff, 682px 1480px #fff, 1890px 297px #fff,
    649px 1521px #fff, 1137px 1522px #fff, 588px 721px #fff, 81px 1908px #fff,
    1336px 663px #fff, 1780px 1131px #fff, 1588px 1844px #fff, 712px 1455px #fff,
    1951px 1507px #fff, 1905px 151px #fff, 1532px 821px #fff, 1686px 916px #fff,
    1937px 1455px #fff, 1666px 117px #fff, 622px 1976px #fff, 467px 1786px #fff,
    842px 314px #fff, 1162px 555px #fff, 1527px 1046px #fff, 184px 1531px #fff,
    530px 682px #fff, 1001px 1864px #fff, 1803px 1345px #fff, 1509px 1454px #fff,
    1836px 1367px #fff, 294px 796px #fff, 1088px 1720px #fff, 700px 1136px #fff,
    1041px 1118px #fff, 165px 1446px #fff, 1678px 641px #fff, 1413px 926px #fff,
    1354px 730px #fff, 1854px 1795px #fff, 1347px 349px #fff, 1918px 324px #fff,
    1981px 1091px #fff, 1770px 1966px #fff, 489px 1984px #fff,
    1012px 1740px #fff, 1400px 1069px #fff, 1877px 257px #fff, 1006px 603px #fff,
    1339px 696px #fff, 1714px 306px #fff, 1959px 884px #fff, 1967px 1502px #fff,
    1223px 245px #fff, 683px 161px #fff, 1738px 1468px #fff, 1832px 228px #fff,
    1419px 233px #fff, 1066px 76px #fff, 1398px 1313px #fff, 1708px 729px #fff,
    889px 1285px #fff, 1840px 1610px #fff, 152px 1508px #fff, 26px 887px #fff,
    570px 1941px #fff, 673px 755px #fff, 414px 459px #fff, 1203px 130px #fff,
    1743px 534px #fff, 1195px 886px #fff, 1708px 806px #fff, 1132px 548px #fff,
    1112px 1922px #fff, 1100px 1176px #fff, 773px 551px #fff, 828px 1979px #fff,
    762px 26px #fff, 708px 487px #fff, 1887px 1158px #fff, 492px 1635px #fff,
    732px 1052px #fff, 1130px 771px #fff, 33px 1939px #fff, 1161px 806px #fff,
    1537px 981px #fff, 1556px 1295px #fff, 1805px 1037px #fff, 1565px 48px #fff,
    1224px 1432px #fff, 1273px 1386px #fff, 616px 1595px #fff, 1810px 602px #fff,
    256px 629px #fff, 636px 998px #fff, 389px 622px #fff, 1228px 1915px #fff,
    1145px 432px #fff, 1931px 1969px #fff, 725px 1114px #fff, 1099px 998px #fff,
    148px 492px #fff, 502px 1731px #fff, 485px 1351px #fff, 1379px 437px #fff,
    463px 163px #fff, 1362px 621px #fff, 448px 1852px #fff, 1104px 408px #fff,
    1811px 448px #fff, 162px 1822px #fff, 68px 385px #fff, 1527px 726px #fff,
    1061px 1071px #fff, 856px 1325px #fff, 675px 345px #fff, 287px 1255px #fff,
    1077px 629px #fff, 596px 1756px #fff, 816px 1056px #fff, 1257px 654px #fff,
    1985px 95px #fff, 544px 991px #fff, 114px 1368px #fff, 1195px 741px #fff,
    1300px 1562px #fff, 198px 350px #fff, 521px 142px #fff, 1938px 955px #fff,
    1885px 325px #fff, 581px 281px #fff, 524px 1520px #fff, 14px 1537px #fff,
    1539px 576px #fff, 1646px 464px #fff, 580px 1680px #fff, 947px 558px #fff,
    1793px 246px #fff, 1708px 719px #fff, 104px 634px #fff, 1103px 1172px #fff,
    1593px 1098px #fff, 123px 192px #fff, 1449px 797px #fff, 1864px 838px #fff,
    1831px 1874px #fff, 1406px 1083px #fff, 1617px 1385px #fff,
    1547px 1834px #fff, 1039px 1062px #fff, 182px 1798px #fff, 214px 596px #fff,
    348px 1459px #fff, 1425px 846px #fff, 1177px 643px #fff, 893px 1554px #fff,
    1736px 1693px #fff, 453px 1284px #fff, 634px 1491px #fff, 1996px 145px #fff,
    1819px 746px #fff, 1063px 867px #fff, 1623px 1165px #fff, 816px 370px #fff,
    1909px 609px #fff, 908px 233px #fff, 1264px 1105px #fff, 1754px 1565px #fff,
    1810px 2px #fff, 1213px 474px #fff, 142px 235px #fff, 331px 59px #fff,
    777px 1666px #fff, 1676px 1723px #fff, 1968px 1966px #fff, 378px 651px #fff,
    126px 1147px #fff, 619px 1105px #fff, 232px 1279px #fff, 1351px 1849px #fff,
    807px 1406px #fff, 543px 457px #fff, 1038px 777px #fff, 264px 479px #fff,
    435px 169px #fff, 564px 188px #fff, 1353px 245px #fff, 1547px 1447px #fff,
    916px 726px #fff, 671px 156px #fff, 1215px 1330px #fff, 452px 21px #fff,
    1482px 29px #fff, 482px 847px #fff, 1051px 1891px #fff, 2px 1688px #fff,
    1661px 244px #fff, 1286px 1133px #fff, 567px 1911px #fff, 445px 35px #fff,
    1524px 1972px #fff, 647px 109px #fff, 520px 1423px #fff, 856px 253px #fff,
    1058px 1426px #fff, 652px 692px #fff, 918px 1248px #fff, 879px 44px #fff,
    1138px 385px #fff, 41px 1678px #fff, 185px 1145px #fff, 1489px 564px #fff,
    1513px 836px #fff, 1154px 1319px #fff, 1389px 1778px #fff, 1036px 571px #fff,
    1488px 753px #fff, 597px 449px #fff, 1645px 32px #fff, 59px 292px #fff,
    173px 445px #fff, 1373px 874px #fff, 1850px 1045px #fff, 1746px 1922px #fff,
    1612px 1610px #fff, 888px 1812px #fff, 1896px 1735px #fff, 847px 686px #fff,
    737px 1907px #fff, 1776px 1997px #fff, 1175px 1864px #fff, 554px 902px #fff,
    1501px 387px #fff, 808px 793px #fff, 518px 370px #fff, 473px 1419px #fff,
    1562px 1056px #fff, 609px 25px #fff, 1443px 6px #fff, 1867px 320px #fff,
    1581px 1737px #fff, 1986px 144px #fff, 1387px 1231px #fff, 248px 1564px #fff,
    1746px 1988px #fff, 380px 1953px #fff, 1821px 630px #fff, 996px 844px #fff,
    1078px 372px #fff, 522px 1462px #fff, 1929px 1992px #fff, 601px 119px #fff,
    1519px 1138px #fff, 528px 945px #fff, 690px 1712px #fff, 898px 59px #fff,
    437px 681px #fff, 1743px 1444px #fff, 1376px 324px #fff, 414px 1817px #fff,
    1213px 1663px #fff, 999px 871px #fff, 515px 442px #fff, 1838px 1223px #fff,
    910px 1317px #fff, 1372px 1094px #fff, 1612px 893px #fff, 1999px 959px #fff,
    839px 584px #fff, 408px 487px #fff, 1221px 1253px #fff, 1869px 1697px #fff,
    181px 1672px #fff, 1534px 22px #fff, 1147px 1909px #fff, 787px 1823px #fff,
    1104px 1515px #fff, 1925px 1249px #fff, 1770px 1414px #fff,
    1941px 200px #fff, 1337px 421px #fff, 1907px 1943px #fff, 147px 1695px #fff,
    1258px 25px #fff, 527px 799px #fff, 1013px 1719px #fff, 1107px 1700px #fff,
    851px 953px #fff, 877px 1632px #fff, 1171px 1087px #fff, 1065px 1769px #fff,
    822px 1900px #fff, 1597px 874px #fff, 1358px 1666px #fff, 1311px 857px #fff,
    1606px 330px #fff, 1813px 1603px #fff, 125px 117px #fff, 536px 1657px #fff,
    1385px 104px #fff, 786px 1957px #fff, 970px 1002px #fff, 1240px 1427px #fff,
    64px 812px #fff, 1952px 991px #fff, 111px 637px #fff, 612px 321px #fff,
    1296px 1420px #fff, 1635px 1480px #fff, 1125px 856px #fff, 30px 1333px #fff,
    376px 465px #fff, 1668px 759px #fff, 1565px 670px #fff, 465px 824px #fff,
    1587px 392px #fff, 577px 156px #fff, 581px 685px #fff, 143px 1771px #fff,
    285px 1631px #fff, 1224px 989px #fff, 1924px 155px #fff, 400px 1944px #fff,
    85px 1474px #fff, 1849px 152px #fff, 1166px 1233px #fff, 1752px 1400px #fff,
    1256px 1524px #fff, 1235px 748px #fff, 1002px 1240px #fff, 320px 1951px #fff,
    289px 1081px #fff, 373px 814px #fff, 1676px 1653px #fff, 925px 74px #fff,
    293px 743px #fff, 815px 1280px #fff, 989px 441px #fff, 187px 1951px #fff,
    1789px 1862px #fff, 355px 229px #fff, 1157px 1572px #fff, 813px 1172px #fff,
    1604px 1673px #fff, 1882px 565px #fff, 614px 690px #fff, 91px 1980px #fff,
    202px 1342px #fff, 442px 1520px #fff, 1761px 979px #fff, 997px 871px #fff,
    172px 1665px #fff, 1179px 1810px #fff, 844px 1921px #fff, 426px 1392px #fff,
    806px 1275px #fff, 1801px 1024px #fff, 1044px 119px #fff, 1647px 854px #fff,
    1738px 1077px #fff, 790px 893px #fff, 1669px 1652px #fff, 43px 527px #fff,
    1092px 641px #fff, 1233px 539px #fff, 603px 1796px #fff, 1303px 1623px #fff,
    603px 1241px #fff, 1183px 1945px #fff, 1534px 1259px #fff, 1239px 86px #fff,
    598px 334px #fff, 933px 1164px #fff, 1614px 1900px #fff, 1761px 671px #fff,
    1562px 12px #fff, 407px 1546px #fff, 761px 654px #fff, 425px 1258px #fff,
    1848px 1602px #fff, 1992px 347px #fff, 491px 847px #fff, 1772px 189px #fff,
    289px 1025px #fff, 1086px 1274px #fff, 574px 1774px #fff, 1364px 1941px #fff,
    1218px 9px #fff, 1362px 116px #fff, 1744px 1826px #fff, 1687px 540px #fff,
    434px 842px #fff, 1369px 362px #fff, 273px 1873px #fff, 649px 1359px #fff,
    713px 1438px #fff, 1518px 1300px #fff, 1403px 751px #fff, 204px 972px #fff,
    1437px 1140px #fff, 193px 407px #fff, 1869px 1045px #fff, 697px 1897px #fff,
    1994px 1244px #fff, 631px 1916px #fff, 957px 1345px #fff, 975px 1480px #fff,
    394px 1337px #fff, 570px 1512px #fff, 906px 1609px #fff, 644px 797px #fff,
    535px 1526px #fff, 1836px 1191px #fff, 208px 1537px #fff, 626px 129px #fff,
    638px 1764px #fff, 278px 667px #fff, 758px 830px #fff, 1681px 1495px #fff,
    1405px 547px #fff, 1126px 1917px #fff, 1933px 1604px #fff,
    1468px 1466px #fff, 755px 537px #fff, 1970px 666px #fff, 1345px 1504px #fff,
    643px 1244px #fff, 352px 369px #fff, 1657px 869px #fff, 1282px 1716px #fff,
    1921px 589px #fff, 878px 417px #fff, 1744px 1892px #fff, 1611px 1008px #fff,
    1727px 1790px #fff, 1900px 1913px #fff, 1251px 1674px #fff, 182px 782px #fff,
    197px 366px #fff, 935px 490px #fff, 1147px 1907px #fff, 1395px 611px #fff,
    496px 1152px #fff, 807px 1321px #fff, 1922px 680px #fff, 908px 1078px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 521px 1836px #fff, 497px 629px #fff, 285px 483px #fff,
    1488px 1206px #fff, 1346px 294px #fff, 824px 825px #fff, 128px 1197px #fff,
    1830px 1213px #fff, 69px 1074px #fff, 898px 878px #fff, 707px 507px #fff,
    770px 427px #fff, 179px 21px #fff, 888px 1827px #fff, 1786px 941px #fff,
    1533px 1672px #fff, 1390px 1712px #fff, 1529px 1164px #fff,
    1882px 1740px #fff, 1250px 1870px #fff, 830px 1920px #fff, 1203px 800px #fff,
    1608px 1927px #fff, 802px 214px #fff, 1310px 1276px #fff, 139px 1422px #fff,
    1515px 578px #fff, 577px 152px #fff, 1349px 353px #fff, 998px 745px #fff,
    185px 1359px #fff, 1380px 933px #fff, 1446px 361px #fff, 730px 1320px #fff,
    169px 715px #fff, 16px 571px #fff, 21px 407px #fff, 734px 929px #fff,
    1167px 267px #fff, 956px 320px #fff, 1179px 1969px #fff, 695px 840px #fff,
    271px 41px #fff, 1193px 1661px #fff, 1279px 1269px #fff, 481px 1911px #fff,
    1441px 715px #fff, 621px 38px #fff, 63px 1932px #fff, 508px 718px #fff,
    126px 1151px #fff, 1318px 815px #fff, 77px 1257px #fff, 152px 320px #fff,
    1788px 1158px #fff, 424px 298px #fff, 1277px 1124px #fff, 1301px 348px #fff,
    1088px 1051px #fff, 367px 1421px #fff, 1558px 540px #fff, 1436px 960px #fff,
    778px 352px #fff, 548px 1661px #fff, 1610px 890px #fff, 689px 23px #fff,
    1551px 914px #fff, 1261px 1779px #fff, 933px 1187px #fff, 1219px 1343px #fff,
    1869px 1771px #fff, 852px 848px #fff, 953px 159px #fff, 897px 1795px #fff,
    581px 1508px #fff, 828px 1828px #fff, 1211px 1227px #fff, 913px 1924px #fff,
    308px 642px #fff, 199px 576px #fff, 1194px 348px #fff, 612px 96px #fff,
    302px 313px #fff, 361px 1078px #fff, 17px 517px #fff, 1861px 893px #fff,
    789px 1175px #fff, 1900px 1285px #fff, 709px 823px #fff, 1126px 1872px #fff,
    867px 1555px #fff, 905px 760px #fff, 1000px 1073px #fff, 26px 35px #fff,
    213px 1125px #fff, 1724px 385px #fff, 747px 1707px #fff, 658px 1921px #fff,
    1536px 1471px #fff, 803px 781px #fff, 1175px 535px #fff, 1314px 1768px #fff,
    909px 1847px #fff, 307px 1210px #fff, 389px 15px #fff, 1836px 1158px #fff,
    1570px 1702px #fff, 1553px 1008px #fff, 1364px 514px #fff,
    1397px 1385px #fff, 127px 1586px #fff, 994px 559px #fff, 1263px 1987px #fff,
    1407px 923px #fff, 436px 73px #fff, 724px 1226px #fff, 652px 596px #fff,
    864px 297px #fff, 1310px 355px #fff, 1471px 757px #fff, 646px 202px #fff,
    834px 527px #fff, 58px 1603px #fff, 1535px 123px #fff, 1021px 920px #fff,
    653px 312px #fff, 417px 402px #fff, 1308px 1921px #fff, 509px 1585px #fff,
    1597px 1602px #fff, 1474px 1212px #fff, 969px 1070px #fff, 455px 1178px #fff,
    1177px 391px #fff, 1922px 53px #fff, 1152px 32px #fff, 1300px 1332px #fff,
    503px 520px #fff, 1325px 1817px #fff, 1936px 1679px #fff, 373px 533px #fff,
    213px 237px #fff, 1924px 1911px #fff, 174px 1308px #fff, 1586px 1346px #fff,
    1120px 247px #fff, 1525px 1112px #fff, 913px 1508px #fff, 1579px 283px #fff,
    1305px 1948px #fff, 1029px 1315px #fff, 352px 245px #fff, 1212px 1991px #fff,
    1746px 1221px #fff, 283px 1226px #fff, 26px 261px #fff, 260px 997px #fff,
    513px 1767px #fff, 1721px 86px #fff, 580px 1310px #fff, 782px 659px #fff,
    1024px 927px #fff, 966px 64px #fff, 1278px 1235px #fff, 579px 1378px #fff,
    642px 67px #fff, 1631px 1262px #fff, 749px 1441px #fff, 380px 1983px #fff,
    1801px 1411px #fff, 1906px 477px #fff, 1326px 1012px #fff, 385px 1846px #fff,
    45px 51px #fff, 98px 761px #fff, 1696px 971px #fff, 744px 1980px #fff,
    326px 1412px #fff, 514px 1052px #fff, 272px 1857px #fff, 1732px 380px #fff,
    297px 114px #fff, 1283px 1554px #fff, 1135px 1567px #fff, 768px 730px #fff,
    1408px 981px #fff, 957px 1072px #fff, 294px 180px #fff, 517px 590px #fff,
    674px 1470px #fff, 1477px 921px #fff, 173px 1396px #fff, 1722px 1283px #fff,
    1415px 1093px #fff, 1931px 1802px #fff, 462px 1833px #fff, 978px 1285px #fff,
    1429px 1838px #fff, 1632px 1913px #fff, 926px 1831px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 521px 1836px #fff, 497px 629px #fff, 285px 483px #fff,
    1488px 1206px #fff, 1346px 294px #fff, 824px 825px #fff, 128px 1197px #fff,
    1830px 1213px #fff, 69px 1074px #fff, 898px 878px #fff, 707px 507px #fff,
    770px 427px #fff, 179px 21px #fff, 888px 1827px #fff, 1786px 941px #fff,
    1533px 1672px #fff, 1390px 1712px #fff, 1529px 1164px #fff,
    1882px 1740px #fff, 1250px 1870px #fff, 830px 1920px #fff, 1203px 800px #fff,
    1608px 1927px #fff, 802px 214px #fff, 1310px 1276px #fff, 139px 1422px #fff,
    1515px 578px #fff, 577px 152px #fff, 1349px 353px #fff, 998px 745px #fff,
    185px 1359px #fff, 1380px 933px #fff, 1446px 361px #fff, 730px 1320px #fff,
    169px 715px #fff, 16px 571px #fff, 21px 407px #fff, 734px 929px #fff,
    1167px 267px #fff, 956px 320px #fff, 1179px 1969px #fff, 695px 840px #fff,
    271px 41px #fff, 1193px 1661px #fff, 1279px 1269px #fff, 481px 1911px #fff,
    1441px 715px #fff, 621px 38px #fff, 63px 1932px #fff, 508px 718px #fff,
    126px 1151px #fff, 1318px 815px #fff, 77px 1257px #fff, 152px 320px #fff,
    1788px 1158px #fff, 424px 298px #fff, 1277px 1124px #fff, 1301px 348px #fff,
    1088px 1051px #fff, 367px 1421px #fff, 1558px 540px #fff, 1436px 960px #fff,
    778px 352px #fff, 548px 1661px #fff, 1610px 890px #fff, 689px 23px #fff,
    1551px 914px #fff, 1261px 1779px #fff, 933px 1187px #fff, 1219px 1343px #fff,
    1869px 1771px #fff, 852px 848px #fff, 953px 159px #fff, 897px 1795px #fff,
    581px 1508px #fff, 828px 1828px #fff, 1211px 1227px #fff, 913px 1924px #fff,
    308px 642px #fff, 199px 576px #fff, 1194px 348px #fff, 612px 96px #fff,
    302px 313px #fff, 361px 1078px #fff, 17px 517px #fff, 1861px 893px #fff,
    789px 1175px #fff, 1900px 1285px #fff, 709px 823px #fff, 1126px 1872px #fff,
    867px 1555px #fff, 905px 760px #fff, 1000px 1073px #fff, 26px 35px #fff,
    213px 1125px #fff, 1724px 385px #fff, 747px 1707px #fff, 658px 1921px #fff,
    1536px 1471px #fff, 803px 781px #fff, 1175px 535px #fff, 1314px 1768px #fff,
    909px 1847px #fff, 307px 1210px #fff, 389px 15px #fff, 1836px 1158px #fff,
    1570px 1702px #fff, 1553px 1008px #fff, 1364px 514px #fff,
    1397px 1385px #fff, 127px 1586px #fff, 994px 559px #fff, 1263px 1987px #fff,
    1407px 923px #fff, 436px 73px #fff, 724px 1226px #fff, 652px 596px #fff,
    864px 297px #fff, 1310px 355px #fff, 1471px 757px #fff, 646px 202px #fff,
    834px 527px #fff, 58px 1603px #fff, 1535px 123px #fff, 1021px 920px #fff,
    653px 312px #fff, 417px 402px #fff, 1308px 1921px #fff, 509px 1585px #fff,
    1597px 1602px #fff, 1474px 1212px #fff, 969px 1070px #fff, 455px 1178px #fff,
    1177px 391px #fff, 1922px 53px #fff, 1152px 32px #fff, 1300px 1332px #fff,
    503px 520px #fff, 1325px 1817px #fff, 1936px 1679px #fff, 373px 533px #fff,
    213px 237px #fff, 1924px 1911px #fff, 174px 1308px #fff, 1586px 1346px #fff,
    1120px 247px #fff, 1525px 1112px #fff, 913px 1508px #fff, 1579px 283px #fff,
    1305px 1948px #fff, 1029px 1315px #fff, 352px 245px #fff, 1212px 1991px #fff,
    1746px 1221px #fff, 283px 1226px #fff, 26px 261px #fff, 260px 997px #fff,
    513px 1767px #fff, 1721px 86px #fff, 580px 1310px #fff, 782px 659px #fff,
    1024px 927px #fff, 966px 64px #fff, 1278px 1235px #fff, 579px 1378px #fff,
    642px 67px #fff, 1631px 1262px #fff, 749px 1441px #fff, 380px 1983px #fff,
    1801px 1411px #fff, 1906px 477px #fff, 1326px 1012px #fff, 385px 1846px #fff,
    45px 51px #fff, 98px 761px #fff, 1696px 971px #fff, 744px 1980px #fff,
    326px 1412px #fff, 514px 1052px #fff, 272px 1857px #fff, 1732px 380px #fff,
    297px 114px #fff, 1283px 1554px #fff, 1135px 1567px #fff, 768px 730px #fff,
    1408px 981px #fff, 957px 1072px #fff, 294px 180px #fff, 517px 590px #fff,
    674px 1470px #fff, 1477px 921px #fff, 173px 1396px #fff, 1722px 1283px #fff,
    1415px 1093px #fff, 1931px 1802px #fff, 462px 1833px #fff, 978px 1285px #fff,
    1429px 1838px #fff, 1632px 1913px #fff, 926px 1831px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 920px 705px #fff, 1531px 643px #fff, 1190px 1380px #fff,
    1052px 111px #fff, 1804px 1215px #fff, 1742px 1648px #fff,
    1094px 1000px #fff, 1264px 1039px #fff, 257px 1592px #fff, 705px 1218px #fff,
    1520px 1920px #fff, 1609px 1401px #fff, 852px 147px #fff, 810px 1538px #fff,
    867px 141px #fff, 1221px 955px #fff, 999px 205px #fff, 1680px 482px #fff,
    1355px 1421px #fff, 556px 412px #fff, 1524px 1295px #fff, 799px 1472px #fff,
    860px 910px #fff, 607px 627px #fff, 577px 287px #fff, 72px 1587px #fff,
    1574px 1302px #fff, 298px 614px #fff, 1535px 1327px #fff, 511px 1762px #fff,
    213px 609px #fff, 610px 44px #fff, 646px 1575px #fff, 1527px 401px #fff,
    1428px 1327px #fff, 557px 1124px #fff, 1597px 1153px #fff, 165px 677px #fff,
    246px 507px #fff, 278px 480px #fff, 503px 602px #fff, 1881px 931px #fff,
    1873px 1587px #fff, 1264px 498px #fff, 1632px 496px #fff, 974px 39px #fff,
    177px 101px #fff, 1818px 650px #fff, 1138px 1599px #fff, 775px 1964px #fff,
    277px 1717px #fff, 468px 469px #fff, 1393px 1259px #fff, 26px 741px #fff,
    292px 1959px #fff, 748px 1558px #fff, 591px 1748px #fff, 1358px 187px #fff,
    848px 276px #fff, 402px 873px #fff, 302px 357px #fff, 701px 1491px #fff,
    1524px 72px #fff, 1978px 580px #fff, 1700px 354px #fff, 1548px 84px #fff,
    1168px 737px #fff, 488px 1728px #fff, 71px 1353px #fff, 1749px 388px #fff,
    628px 1734px #fff, 1216px 1043px #fff, 974px 114px #fff, 1293px 1716px #fff,
    50px 1884px #fff, 1729px 1867px #fff, 1966px 574px #fff, 1122px 32px #fff,
    1610px 309px #fff, 940px 1808px #fff, 882px 1890px #fff, 834px 673px #fff,
    1825px 1201px #fff, 239px 1542px #fff, 646px 1749px #fff, 1676px 82px #fff,
    419px 697px #fff, 1771px 511px #fff, 1779px 1156px #fff, 959px 323px #fff,
    581px 222px #fff, 1728px 1265px #fff, 1147px 74px #fff, 580px 1762px #fff,
    1248px 1916px #fff, 1573px 1919px #fff, 179px 339px #fff, 1362px 1403px #fff,
    422px 161px #fff, 904px 88px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 920px 705px #fff, 1531px 643px #fff, 1190px 1380px #fff,
    1052px 111px #fff, 1804px 1215px #fff, 1742px 1648px #fff,
    1094px 1000px #fff, 1264px 1039px #fff, 257px 1592px #fff, 705px 1218px #fff,
    1520px 1920px #fff, 1609px 1401px #fff, 852px 147px #fff, 810px 1538px #fff,
    867px 141px #fff, 1221px 955px #fff, 999px 205px #fff, 1680px 482px #fff,
    1355px 1421px #fff, 556px 412px #fff, 1524px 1295px #fff, 799px 1472px #fff,
    860px 910px #fff, 607px 627px #fff, 577px 287px #fff, 72px 1587px #fff,
    1574px 1302px #fff, 298px 614px #fff, 1535px 1327px #fff, 511px 1762px #fff,
    213px 609px #fff, 610px 44px #fff, 646px 1575px #fff, 1527px 401px #fff,
    1428px 1327px #fff, 557px 1124px #fff, 1597px 1153px #fff, 165px 677px #fff,
    246px 507px #fff, 278px 480px #fff, 503px 602px #fff, 1881px 931px #fff,
    1873px 1587px #fff, 1264px 498px #fff, 1632px 496px #fff, 974px 39px #fff,
    177px 101px #fff, 1818px 650px #fff, 1138px 1599px #fff, 775px 1964px #fff,
    277px 1717px #fff, 468px 469px #fff, 1393px 1259px #fff, 26px 741px #fff,
    292px 1959px #fff, 748px 1558px #fff, 591px 1748px #fff, 1358px 187px #fff,
    848px 276px #fff, 402px 873px #fff, 302px 357px #fff, 701px 1491px #fff,
    1524px 72px #fff, 1978px 580px #fff, 1700px 354px #fff, 1548px 84px #fff,
    1168px 737px #fff, 488px 1728px #fff, 71px 1353px #fff, 1749px 388px #fff,
    628px 1734px #fff, 1216px 1043px #fff, 974px 114px #fff, 1293px 1716px #fff,
    50px 1884px #fff, 1729px 1867px #fff, 1966px 574px #fff, 1122px 32px #fff,
    1610px 309px #fff, 940px 1808px #fff, 882px 1890px #fff, 834px 673px #fff,
    1825px 1201px #fff, 239px 1542px #fff, 646px 1749px #fff, 1676px 82px #fff,
    419px 697px #fff, 1771px 511px #fff, 1779px 1156px #fff, 959px 323px #fff,
    581px 222px #fff, 1728px 1265px #fff, 1147px 74px #fff, 580px 1762px #fff,
    1248px 1916px #fff, 1573px 1919px #fff, 179px 339px #fff, 1362px 1403px #fff,
    422px 161px #fff, 904px 88px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
