@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap");
.embed-window {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  flex-direction: column;
  overflow: hidden;
  background: #dadada;
  z-index: 999999;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 20px 20px 0 0;
  /* animation: AnimateWindow 0.8s forwards; */
}

.info-website-window {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  flex-direction: column;
  overflow: hidden;
  background: #dadada;
  z-index: 99999;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 20px 20px 0 0;
  /* animation: AnimateWindow 0.8s forwards; */
}

@keyframes AnimateWindow {
  0% {
    top: 100vh;
    height: 0px;
    width: 0px;
    clip-path: polygon(0 0, 100% 0, 52% 23%, 52% 22%);
  }
  50% {
    /* top: 100vh;
    height: 0px;
    width: 0px; */
    clip-path: polygon(0 0, 100% 0, 51% 100%, 50% 100%);
  }
  100% {
    height: 100vh;
    width: 100%;
    top: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes AnimateWindowClose {
  0% {
    height: 100vh;
    width: 100%;
    top: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  50% {
    top: 100vh;
    height: 0px;
    width: 0px;
    clip-path: polygon(0 0, 100% 0, 51% 100%, 50% 100%);
  }
  100% {
    top: 100vh;
    height: 0px;
    width: 0px;
    clip-path: polygon(0 0, 100% 0, 52% 23%, 52% 22%);
  }
}

.embed-nav-window {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.embed-nav-window input {
  width: 70%;
  padding: 10px 20px;
  font-family: sans-serif;
  border-radius: 25px;
}
.embed-close {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 2%;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.embed-close:hover {
  background-color: green;
}
.embed-close::after {
  content: "";
  height: 20px;
  width: 3px;
  position: absolute;
  background-color: #fff;
  transform: rotate(-45deg);
}
.embed-close::before {
  content: "";
  height: 20px;
  width: 3px;
  position: absolute;
  transform: rotate(45deg);
  background-color: #fff;
}

.rest-website-embed,
iframe {
  height: 100%;
  width: 100%;
}

/* THIS CSS FOR WEBSITE EMBED */
.rest-website-embed .main-container {
  height: 100vh;
  width: 100%;
  /* backdrop-filter: invert(1); */
  overflow-y: scroll;
  /* background-image: url('https://cdn.pixabay.com/photo/2022/06/12/22/48/gradient-7258997_960_720.png'); */
  background-color: skyblue;
  background-size: cover;
  background: linear-gradient(
      134deg,
      transparent -38%,
      #9ce 70%,
      #9c0 110%,
      red 55%
    ),
    #446;
  /* background-size: 16px 48px; */
}
.images-container {
  border: 1px solid grey;
  border-radius: 15px;
  overflow: hidden;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.top-info-container .title-left-side strong {
  font-family: "Oleo Script", cursive;
}
.single-image {
  height: auto;
  width: 100%;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.single-image img {
  margin-top: 5px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100vh;
}

.technologies-container strong {
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 3px 6px grey, 1px 2px 2px grey, 2px 4px 4px grey,
    3px 6px 6px grey;
  color: #763399;
  margin: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}

.technologies {
  display: flex;
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  margin: 0;
}

.technologies p {
  margin: 5px;
  text-shadow: 2px 2px #000, 2px 2px 2px #000, 2px 2px 4px #000;
  text-align: left;
}

.technologies-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 400%;
  flex-direction: column;
  padding-left: 30px;
  margin-left: 30px;
  border-left: 7px solid grey;
  border-radius: 15px;
}
.two-type-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 30px;
  box-sizing: border-box;
  /* border: 1px solid; */
  width: 60%;
  border-radius: 20px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  background: #93c3e5;
  -webkit-box-shadow: 6px 6px 23px #3b4e5c, -6px -6px 23px #ebffff;
  box-shadow: 6px 6px 23px #3b4e5c, -6px -6px 23px #ebffff;
}

.info-description-container {
  font-family: "Great Vibes", cursive;
  font-size: 2.2rem;
  min-width: 450px;
  font-weight: 500;
  letter-spacing: 1px;
  /* width: 70%; */
  box-sizing: border-box;
  text-align: center;
  color: rebeccapurple;
  text-shadow: 0 0 1px #000, 0 0 5px #fff, 0 0 10px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-info-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.title-left-side {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.title-left-side strong {
  font-family: sans-serif;
  font-weight: bold;
  margin-right: 5px;
  font-size: 4rem;
}

.title-left-side p {
  font-family: "Kumar One Outline", cursive;
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 15px;
}

.title-right-side {
  font-family: sans-serif;
  font-weight: 100;
  font-style: italic;
}
img {
  width: 100%;
  margin-top: 5px;
}

/* cards css */

.full-items-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.component-card {
  height: 300px;
  width: 210px;
  margin: 10px;
  background: #e7e7e7;
  /* background-image: url("./image1.png"); */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  font-family: cursive;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0px 0px 5px antiquewhite, 0px 0px 5px #000;
  position: relative;
  z-index: 2;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  transition: all 0.3s ease-in-out;
  animation: Animate 5s infinite;
  font-size: 1rem;
  /* box-shadow: 0px 0px 10px red; */
}

.component-card:hover {
  animation: none;
  box-shadow: 0px 0px 1px grey, 0px 0px 5px grey, 0px 0px 7px grey,
    0px 0px 10px grey, 0px 0px 12px grey, inset 0px 0px 3px #fff,
    inset 0px 0px 10px #fff;
}

.component-card h3 {
  opacity: 0;
  /* transition-delay: 0.3s !important; */
  transition: all 0.5s ease-in-out;
  transform: matrix3d(1, 0, 10, 0, 0, 1, 1, 20, 5, 3, 4, 3, 3, 0, 0, 1);
  text-align: center;
}

.component-card:hover h3 {
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.component-card:hover:before {
  content: "";
  height: 284px;
  z-index: -1;
  width: 367px;
  background: #4ff2ffad;
  position: absolute;
  top: -17px;
  border-radius: 50%;
}

.component-card::before {
  content: "";
  height: 0px;
  z-index: -1;
  width: 0px;
  position: absolute;
  top: -17px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.component-card:hover:after {
  content: attr(message);
  height: 200px;
  z-index: -1;
  width: 100%;
  background: mediumseagreen;
  position: absolute;
  bottom: -100px;
  transform: skew(0deg, -22deg);
}

.component-card::after {
  content: attr(message);
  height: 200px;
  z-index: -1;
  width: 100%;
  background: mediumseagreen;
  position: absolute;
  bottom: -250px;
  transform: skew(0deg, -22deg);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.3s;
  text-align: center;
  font-size: 1rem;
}

@keyframes Animate {
  0% {
    box-shadow: 0px 0px 10px red;
  }
  50% {
    box-shadow: 0px 0px 10px green;
  }
  95% {
    box-shadow: 0px 0px 10px blue;
  }
  100% {
    box-shadow: 0px 0px 10px red;
  }
}

/* this css for all works  */

.doddle-container .right-doddle-ear:hover,
.doddle-container .left-doddle-ear:hover {
  font-size: 1rem;
}
.doddle-container .left-doddle-ear {
  height: 35%;
  width: 35%;
  background: #3fff00;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 30%;
  font-size: 0.7rem;
  left: 30%;
  box-shadow: inset 0px 0px 4px #fff, inset 0px 0px 7px #fff,
    inset 0px 0px 10px #fff, inset 1px 1px 15px green;
  transition: all 0.5s ease-in-out;
}

.doddle-container .right-doddle-ear {
  height: 35%;
  width: 35%;
  font-size: 0.7rem;
  background: #3300ff;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  z-index: 1;
  right: 30%;
  box-shadow: inset 0px 0px 4px #fff, inset 0px 0px 7px #fff,
    inset 0px 0px 10px #fff, inset 1px 1px 15px green;
  transition: all 0.5s ease-in-out;
}

.doddle-container .center-doddle {
  height: 80%;
  width: 80%;
  background: red;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.doddle-container .center-doddle::after {
  content: "";
  opacity: 0;
  transition: all 0.3s;
}
.doddle-container .center-doddle:hover::after {
  content: "";
  height: 100px;
  width: 120px;
  /* background: blue; */
  border-bottom: 20px solid pink;
  border-radius: 50%;
  position: absolute;
  bottom: 10%;
  opacity: 1;
}

.doddle-container {
  height: 300px;
  width: 300px;
  /* border: 1px solid grey; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.doddle-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.doddle-container:hover .left-doddle-ear {
  left: 0;
  top: 0;
}

.doddle-container:hover .right-doddle-ear {
  right: 0;
  top: 0;
}
