@media screen and (max-width: 800px) {
  .single-slide .images-slide {
    display: none;
  }
  .portfolio-leftside {
    margin-top: 40px;
  }
  .gallery-more-button {
    display: block !important;
  }
  .gallerytext {
    display: none;
  }
}

.portfolio-container {
  transform: translate(0px, 0px) !important;
}
.portfolio-horizontal-scroll {
  display: flex;
  min-height: min-content;
  position: absolute;
  overflow-x: hidden;
}
.single-slide {
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: grey;
}

.portfolio-leftside {
  width: 40%;
  padding: 0 5%;
  min-width: 400px;
  box-sizing: border-box;
}

/* grid data starts here */

.imagecard-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-first-child:hover:after {
  opacity: 1;
  font-size: 1.5rem;
}
.portfolio-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: hidden;
  padding: 1px;
}

.grid-first-child::after {
  content: "visit";
  height: 100%;
  z-index: 50;
  width: 100%;
  background: rgba(128, 128, 128, 0.479);
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  text-decoration: underline;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 10rem;
  text-shadow: 0px 0px 5px #000;
  opacity: 0;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.grid-first-child {
  grid-area: 1 / 1 / 4 / 3;
}
.pin-spacer {
  padding: 0px 0px 4229px !important;
  height: 4229px !important;
}
.grid-third-child {
  grid-area: 1 / 3 / 4 / 4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.grid-second-child {
  grid-area: 4 / 1 / 5 / 4;
}
/* grid data ends here */

.image-card {
  /* padding: 2%; */
  display: flex;
  /* justify-content: center; */
  overflow: hidden;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0px 5px grey, 1px 1px 10px grey, 2px 2px 10px grey;
  -webkit-backdrop-filter: blur(10px);
  background: #fff;
  backdrop-filter: blur(10px);
  transition: all 0.1s ease-in-out;
}
.image-card img {
  width: 100%;
}

.images-slide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.portfolio-rightside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
}
.app-description {
  width: 70%;
}
.images-slide .imgcard:hover:before {
  opacity: 1;
  font-size: 1.5rem;
  width: 90px;
  height: 90px;
}
.images-slide .imgcard:hover:after {
  opacity: 1;
}
.images-slide .imgcard::before {
  z-index: 51;
  content: "more";
  position: absolute;
  font-weight: bold;
  background: orange;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 10rem;
  text-shadow: 0px 0px 5px #000;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images-slide .imgcard::after {
  content: "";
  z-index: 50;
  height: 100%;
  width: 100%;
  background: rgba(128, 128, 128, 0.479);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.images-slide .imgcard {
  width: 40%;
  height: 35vh;
  overflow: hidden;
  box-sizing: border-box;
  margin: 10px;
  background: #fff;
  box-shadow: -5px 5px 5px black;
  border-radius: 2px;
  cursor: zoom-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.imgcard:hover img {
  width: 100%;
}
.imgcard:hover .sectionName {
  box-shadow: -4px -5px 10px grey;
}
.imgcard .sectionName {
  transition: all 0.3s ease-in-out;
  /* position: absolute; */

  left: 0;
  bottom: 49px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: grey;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  width: 100%;
  /* border-top: 2px solid grey; */
  background: transparent;
  padding: 10px;
  display: flex;
  /* background: whitesmoke; */
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px grey;
  transition: all 0.3s ease-in-out;
}
.imgcard img {
  width: 250%;

  transition: all 0.3s ease-in-out;
}
span {
  content: "\201D";
  font-size: 2.5rem;
  /* background: red; */
  font-family: sans-serif;
}
.image-card-right {
  display: flex;
  position: relative;
}
.image-card-container h1 {
  margin: 5px;
  -webkit-text-stroke: 3px #fac7c7;
  color: transparent;
  /* font-size: 5rem; */
  -webkit-text-stroke-width: thin;
  text-align: left;
}
.grid-third-child h1 {
  transform: rotate(270deg);
  position: absolute;
}
/* creating key point key */

.key-container {
  display: flex;
  justify-content: center;
  align-items: center;

  /* font-size: 1rem; */
}
.key-container .key-holder {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}

.key-container .key-holder::after {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: grey;
  position: absolute;
  box-shadow: inset 0px 0px 5px black, inset 0px 0px 10px black,
    0px 0px 5px #fff, 0px 0px 6px black;
}

.key-container .key-shaft {
  height: 25px;
  width: 150px;
  font-size: 1.5rem;
  border-radius: 0 10px 0 0;
  margin-left: -10px;
  background-color: #fff;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: green;
  text-shadow: 1px 1px 3px grey;
  padding: 2px;
}
.key-container .key-shaft::before {
  content: "";
  height: 30px;
  width: 20px;
  right: 0;
  top: 20px;
  border-radius: 0 0 15px 15px;
  position: absolute;
  background-color: #fff;
}
.key-container .key-shaft::after {
  content: "";
  height: 30px;
  width: 20px;
  right: 34px;
  z-index: -1;
  top: 20px;
  border-radius: 0 0 15px 15px;
  position: absolute;
  background-color: #fff;
}

.keys-text-continer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.keys-text-continer h1 {
  font-size: 4vw;
  text-transform: uppercase;
}

.gallery-more-button {
  display: none;
  font-size: 1rem;
  padding: 10px 20px;
  border: 1px solid grey;
  background: darkgrey;
  color: #fff;
  font-weight: bold;
  border-radius: 15px;
}
.key-container {
  position: absolute;
  left: -50px;
  transform: rotate3d(1, -1, 8, 323deg);
}
.portfolio-rightside .gallerytext {
  font-size: 4vw;
  margin: 30px;
  -webkit-text-stroke: 3px #fac7c7;
  color: transparent;
  /* font-size: 5rem; */
  -webkit-text-stroke-width: thin;
  text-align: left;
}
/* 
this is dummy page 
*/
.full-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 620vh;
  overflow: hidden;
}
.container {
  height: 100vh;
  width: 100%;
  opacity: 0;
  position: fixed;
  opacity: 0;
  z-index: -1;
  left: 0;
  top: 0;
  background-attachment: fixed;
  /* text-shadow: 0px 0px 20px grey, 0px 0px 30px #000; */
}
.first-container {
  background: navajowhite;
}
.second-container {
  background: blue;
}
.third-container {
  background: violet;
}
.fourth-container {
  background: yellow;
}
.fifth-container {
  background: red;
}
.sixth-container {
  background: pink;
}

.show-more-work {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding-right: 20%;
  background-image: url("../assets/more-work.webp");
  box-sizing: border-box;
  align-items: center;
  height: 100vh;
  background-position: center left;
  background-size: 70%;
  background-repeat: no-repeat;
  background-color: #fefeff;
  width: 100%;
}

.show-more-work div {
  padding: 20px;
  border-radius: 51px;
  background: linear-gradient(145deg, #ffffff, #e3e4e4);
  box-shadow: 5px 5px 15px #767777, -5px -5px 15px #ffffff;
  /* font-size: 1rem; */
  text-transform: uppercase;
  font-weight: bold;
  color: #d15048 !important;
  transition: all 0.3s ease-in-out;
}
.show-more-work div:hover {
  /* transition: all 0.3s ease-in-out; */
  border-radius: 51px;
  background: #d6d6d8;
  box-shadow: inset 5px 5px 15px #656566, inset -5px -5px 15px #ffffff;
}
