.parent {
  display: grid;
  grid-template-columns: repeat(7, 0fr);
  grid-template-rows: repeat(7, 0fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  transform: rotate(-45deg);
}

.parent div {
  border: 1px solid grey;
  margin: 2px;
  background: blue;
  height: 45px;
  width: 45px;
}
.div1 {
  grid-area: 1 / 7 / 2 / 8;
}
.div2 {
  grid-area: 2 / 7 / 3 / 8;
}
.div3 {
  grid-area: 3 / 7 / 4 / 8;
}
.div4 {
  grid-area: 1 / 6 / 2 / 7;
}
.div5 {
  grid-area: 1 / 5 / 2 / 6;
}
.div6 {
  grid-area: 2 / 6 / 3 / 7;
}
.div7 {
  grid-area: 3 / 5 / 4 / 6;
}
.div8 {
  grid-area: 3 / 4 / 4 / 5;
}
.div9 {
  grid-area: 4 / 5 / 5 / 6;
}
.div10 {
  grid-area: 4 / 4 / 5 / 5;
}
.div11 {
  grid-area: 5 / 3 / 6 / 4;
}
.div12 {
  grid-area: 5 / 2 / 6 / 3;
}
.div13 {
  grid-area: 6 / 3 / 7 / 4;
}
.div14 {
  grid-area: 6 / 2 / 7 / 3;
}
.div15 {
  grid-area: 7 / 1 / 8 / 2;
}

#main-container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: grey;
}

.small-projects {
  height: auto;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
}
#id1681960633380 {
  height: 100%;
  width: 50%;
  position: relative;
  box-sizing: border-box;
  padding-left: 10px;
}
.social-container {
  height: 100vh;
  width: 100%;
  background: red;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#id1681966108404 {
  height: 15%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
#id1681966109464 {
  height: auto;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}
.mobile {
  height: 300px;
  width: 170px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border-radius: 15px;
  overflow: hidden;
  background: rgb(99, 99, 99);
  box-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px;
}
.screen {
  height: 85%;
  width: 95%;
  position: relative;
  box-sizing: border-box;
  border-radius: 15px 15px 0px 0px;
  background-image: url("https://help.figma.com/hc/article_attachments/4415430644375/Prototype_presentation_view_in_the_Figma_mobile_app.png");
}
.navigation {
  height: 15%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  height: 35px;
  width: 35px;
  position: relative;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(128, 128, 128);
  background: rgb(199, 245, 244);
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(0, 0, 0) 0px 0px 3px inset;
}
#id1681966534588 {
  height: auto;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#id1681966543650 {
  height: 80px;
  width: 80px;
  position: relative;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 20px;
  background: rgb(136, 195, 137);
  margin: 0px 10px;
}
