.second-page {
  height: 100vh;
  width: 100%;
  background: #c0dad9;
  display: flex;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.card {
  height: 281px;
  width: 198px;
  /* border: 1px solid greenyellow; */
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* font-size: 2rem; */
  font-weight: bold;
  background-size: cover;
  font-family: height;
  position: relative;
}

.card:hover {
  z-index: 50;
  transform: rotate(0deg);
  cursor: pointer;
  transition: all 0.1s ease-in-out !important;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  background-color: rgba(80, 64, 44, 0);
  transition: background-color 1s;
}

.card-info {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 1.5em;
  text-align: center;
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.card-bio {
  margin-top: -100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  text-align: center;
  transform: translate(100%, 40%);
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.card-bio p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
}

/*Text*/
.title {
  font-size: 1.3em;
  font-weight: bold;
}

.title::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  margin: 0 auto 4%;
  background-color: #000;
}

.subtitle {
  font-weight: 400;
  line-height: 1em;
}

/*Hover*/
.card:hover::before {
  background-color: rgba(80, 64, 44, 0.25);
}

.card:hover .card-info {
  transform: translateX(-100%);
}

.card:hover .card-bio {
  transform: translate(0, 40%);
  opacity: 1;
  height: 100%;
}

.first {
  position: absolute;
  z-index: 1;
  margin-left: -1007px;
  margin-top: -349px;
  transform: rotate(-10deg);
  transition: all 1s ease-in-out;
}
.second {
  position: absolute;
  z-index: 2;
  margin-left: -745px;
  margin-top: -200px;
  transform: rotate(-6deg);
  transition: all 1s ease-in-out;
}

.third {
  position: absolute;
  z-index: 3;
  margin-left: -493px;
  margin-top: -40px;
  transform: rotate(-7deg);
  transition: all 1s ease-in-out;
}

.fourth {
  position: absolute;
  z-index: 10;
  height: 370px;
  width: 250px;
  margin-left: -256px;
  margin-top: 130px;
  transform: rotate(0deg);
  transition: all 1s ease-in-out;
}

.fifth {
  position: absolute;
  z-index: 5;
  margin-left: -17px;
  margin-top: 252px;
  transform: rotate(10deg);
  transition: all 1s ease-in-out;
}
.sixth {
  position: absolute;
  z-index: 4;
  margin-left: 311px;
  margin-top: 450px;
  transform: rotate(25deg);
  transition: all 1s ease-in-out;
}

.hide-first {
  position: absolute;
  z-index: 1;
  opacity: 0;
  margin-left: -1308px;
  margin-top: -498px;
  transform: rotate(-10deg);
  transition: all 1s ease-in-out;
}
.hide-last {
  position: absolute;
  z-index: 5;
  opacity: 0;
  margin-left: 548px;
  margin-top: 667px;
  transform: rotate(9deg);
  transition: all 1s ease-in-out;
}

/* button */
.card-bio button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}

.card-bio button svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.card-bio button span {
  font-size: 1.1rem;
  font-family: sans-serif;
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.card-bio button:hover svg {
  transform: translateX(5px) rotate(90deg);
}

.card-bio button:hover span {
  transform: translateX(7px);
}
